$font-family-base: 'Kanit', sans-serif;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

    $custom-theme-colors: (
    "altlight": rgb(212, 235, 206),
    "altdark":  black
    );

    $theme-colors: map-merge($custom-theme-colors, $theme-colors);


@import '../node_modules/bootstrap/scss/bootstrap';